In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
path="C:/Users/ABC/Desktop/HRnew.csv"

In [3]:
headernames = ['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField',
               'Gender','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MonthlyIncome','MonthlyRate',
               'OverTime','PercentSalaryHike','PerformanceRating','TotalWorkingYears','YearsAtCompany',
               'YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager','Attrition'
]

In [4]:
df = pd.read_csv(path, names=headernames)

In [5]:
df

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobInvolvement,JobLevel,JobRole,...,MonthlyRate,OverTime,PercentSalaryHike,PerformanceRating,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,Sales,1,2,Life Sciences,Female,3,2,Sales Executive,...,19479,Yes,11,3,8,6,4,0,5,Yes
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,Male,2,2,Research Scientist,...,24907,No,23,4,10,10,7,1,7,No
2,37,Travel_Rarely,Research & Development,2,2,Other,Male,2,1,Laboratory Technician,...,2396,Yes,15,3,7,0,0,0,0,Yes
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,Female,3,1,Research Scientist,...,23159,Yes,11,3,8,8,7,3,0,No
4,27,Travel_Rarely,Research & Development,2,1,Medical,Male,3,1,Laboratory Technician,...,16632,No,12,3,6,2,2,2,2,No
5,32,Travel_Frequently,Research & Development,2,2,Life Sciences,Male,3,1,Laboratory Technician,...,11864,No,13,3,8,7,7,3,6,No
6,59,Travel_Rarely,Research & Development,3,3,Medical,Female,4,1,Laboratory Technician,...,9964,Yes,20,4,12,1,0,0,0,No
7,30,Travel_Rarely,Research & Development,24,1,Life Sciences,Male,3,1,Laboratory Technician,...,13335,No,22,4,1,1,0,0,0,No
8,38,Travel_Frequently,Research & Development,23,3,Life Sciences,Male,2,3,Manufacturing Director,...,8787,No,21,4,10,9,7,1,8,No
9,36,Travel_Rarely,Research & Development,27,3,Medical,Male,3,2,Healthcare Representative,...,16577,No,13,3,17,7,7,7,7,No
10,35,Travel_Rarely,Research & Development,16,3,Medical,Male,4,1,Laboratory Technician,...,16479,No,13,3,6,5,4,0,3,No
11,29,Travel_Rarely,Research & Development,15,2,Life Sciences,Female,2,2,Laboratory Technician,...,12682,Yes,12,3,10,9,5,0,8,No
12,31,Travel_Rarely,Research & Development,26,1,Life Sciences,Male,3,1,Research Scientist,...,15170,No,17,3,5,5,2,4,3,No
13,34,Travel_Rarely,Research & Development,19,2,Medical,Male,3,1,Laboratory Technician,...,8758,No,11,3,3,2,2,1,2,No
14,28,Travel_Rarely,Research & Development,24,3,Life Sciences,Male,2,1,Laboratory Technician,...,12947,Yes,14,3,6,4,2,0,3,Yes
15,29,Travel_Rarely,Research & Development,21,4,Life Sciences,Female,4,3,Manufacturing Director,...,10195,No,11,3,10,10,9,8,8,No
16,32,Travel_Rarely,Research & Development,5,2,Life Sciences,Male,4,1,Research Scientist,...,15053,Yes,12,3,7,6,2,0,5,No
17,22,Non-Travel,Research & Development,16,2,Medical,Male,4,1,Laboratory Technician,...,7324,Yes,13,3,1,1,0,0,0,No
18,53,Travel_Rarely,Sales,2,4,Life Sciences,Female,2,4,Manager,...,22021,No,16,3,31,25,8,3,7,No
19,38,Travel_Rarely,Research & Development,2,3,Life Sciences,Male,3,1,Research Scientist,...,4306,Yes,11,3,6,3,2,1,2,No
20,24,Non-Travel,Research & Development,11,2,Other,Female,4,2,Manufacturing Director,...,8232,No,18,3,5,4,2,1,3,No
21,36,Travel_Rarely,Sales,9,4,Life Sciences,Male,2,1,Sales Representative,...,6986,No,23,4,10,5,3,0,3,Yes
22,34,Travel_Rarely,Research & Development,7,4,Life Sciences,Female,3,3,Research Director,...,21293,No,11,3,13,12,6,2,11,No
23,21,Travel_Rarely,Research & Development,15,2,Life Sciences,Male,3,1,Research Scientist,...,19281,No,14,3,0,0,0,0,0,No
24,34,Travel_Rarely,Research & Development,6,1,Medical,Male,3,1,Research Scientist,...,17102,No,11,3,8,4,2,1,3,Yes
25,53,Travel_Rarely,Research & Development,5,3,Other,Female,3,5,Manager,...,10735,No,11,3,26,14,13,4,8,No
26,32,Travel_Frequently,Research & Development,16,1,Life Sciences,Female,1,1,Research Scientist,...,4681,Yes,22,4,10,10,2,6,7,Yes
27,42,Travel_Rarely,Sales,8,4,Marketing,Male,3,2,Sales Executive,...,21173,No,11,3,10,9,7,4,2,No
28,44,Travel_Rarely,Research & Development,7,4,Medical,Female,2,3,Healthcare Representative,...,2094,No,14,3,24,22,6,5,17,No
29,46,Travel_Rarely,Sales,2,4,Marketing,Female,3,5,Manager,...,22822,No,12,3,22,2,2,2,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Travel_Frequently,Research & Development,4,2,Life Sciences,Female,3,2,Manufacturing Director,...,9192,No,13,3,18,4,2,0,2,No
1441,56,Non-Travel,Research & Development,1,4,Life Sciences,Male,3,2,Healthcare Representative,...,26236,No,21,4,13,13,12,1,9,No
1442,29,Travel_Rarely,Research & Development,1,4,Medical,Male,3,1,Research Scientist,...,26124,Yes,14,3,4,2,2,2,2,Yes
1443,42,Travel_Rarely,Research & Development,2,3,Life Sciences,Male,3,5,Manager,...,17312,No,11,3,24,22,6,4,14,No
1444,56,Travel_Rarely,Research & Development,7,2,Technical Degree,Male,3,1,Laboratory Technician,...,3666,No,11,3,14,10,9,9,8,Yes
1445,41,Travel_Rarely,Research & Development,28,4,Life Sciences,Female,2,4,Manufacturing Director,...,5640,No,23,4,21,20,7,0,10,No
1446,34,Travel_Rarely,Sales,28,3,Marketing,Female,2,2,Sales Executive,...,8978,No,21,4,8,8,7,1,7,No
1447,36,Non-Travel,Sales,15,4,Marketing,Male,1,2,Sales Executive,...,10436,No,24,4,15,15,12,11,11,No
1448,41,Travel_Rarely,Sales,3,3,Life Sciences,Male,2,2,Sales Executive,...,12227,No,11,3,14,5,4,0,4,No
1449,32,Travel_Rarely,Research & Development,2,3,Technical Degree,Male,3,1,Research Scientist,...,11288,No,14,3,4,4,2,1,2,No
1450,35,Travel_Rarely,Human Resources,26,4,Life Sciences,Female,3,3,Human Resources,...,16642,Yes,16,3,9,9,0,1,7,No
1451,38,Travel_Rarely,Sales,10,2,Life Sciences,Female,3,2,Sales Executive,...,5982,No,11,3,10,10,7,1,9,No
1452,50,Travel_Frequently,Sales,1,4,Life Sciences,Male,3,2,Sales Executive,...,14255,No,12,3,12,6,3,0,1,Yes
1453,36,Travel_Rarely,Sales,11,4,Marketing,Female,2,2,Sales Executive,...,14369,No,13,3,8,6,3,0,0,No
1454,45,Travel_Rarely,Sales,20,3,Life Sciences,Female,3,2,Sales Executive,...,23333,No,15,3,8,5,3,0,1,No
1455,40,Travel_Rarely,Research & Development,2,4,Life Sciences,Male,2,1,Research Scientist,...,2725,No,14,3,8,2,2,2,2,No
1456,35,Travel_Frequently,Research & Development,18,4,Life Sciences,Male,3,2,Healthcare Representative,...,24594,Yes,14,3,10,10,2,0,2,No
1457,40,Travel_Rarely,Research & Development,2,4,Medical,Female,3,1,Research Scientist,...,12549,No,14,3,20,5,3,0,2,No
1458,35,Travel_Rarely,Research & Development,1,4,Life Sciences,Female,1,1,Research Scientist,...,8952,No,12,3,4,4,3,1,1,No
1459,29,Travel_Rarely,Research & Development,13,2,Other,Male,2,2,Laboratory Technician,...,23679,Yes,13,3,10,4,3,0,3,No
1460,29,Travel_Rarely,Research & Development,28,4,Medical,Female,2,1,Research Scientist,...,8489,No,14,3,5,5,4,0,4,No
1461,50,Travel_Rarely,Sales,28,3,Marketing,Male,2,3,Sales Executive,...,16586,Yes,13,3,20,3,2,2,0,Yes
1462,39,Travel_Rarely,Sales,24,1,Marketing,Female,2,4,Sales Executive,...,8828,No,11,3,21,20,9,9,6,No
1463,31,Non-Travel,Research & Development,5,3,Medical,Male,3,2,Manufacturing Director,...,3787,No,19,3,10,9,4,1,7,No
1464,26,Travel_Rarely,Sales,5,3,Other,Female,2,1,Sales Representative,...,21378,No,18,3,5,4,2,0,0,No
1465,36,Travel_Frequently,Research & Development,23,2,Medical,Male,4,2,Laboratory Technician,...,12290,No,17,3,17,5,2,0,3,No
1466,39,Travel_Rarely,Research & Development,6,1,Medical,Male,2,3,Healthcare Representative,...,21457,No,15,3,9,7,7,1,7,No
1467,27,Travel_Rarely,Research & Development,4,3,Life Sciences,Male,4,2,Manufacturing Director,...,5174,Yes,20,4,6,6,2,0,3,No
1468,49,Travel_Frequently,Sales,2,3,Medical,Male,2,2,Sales Executive,...,13243,No,14,3,17,9,6,0,8,No
1469,34,Travel_Rarely,Research & Development,8,3,Medical,Male,4,2,Laboratory Technician,...,10228,No,12,3,6,4,3,1,2,No

In [7]:
business= {'Travel_Rarely': 1,'Travel_Frequently': 2,'Non-Travel':3}

In [8]:
df.BusinessTravel = [business[item] for item in df.BusinessTravel]

In [9]:
gender= {"Male": 1,"Female": 2}
df.Gender = [gender[item] for item in df.Gender]
abc= {"Sales":1, "Research & Development":2, "Human Resources":3}
df.Department= [abc[item] for item in df.Department]
edu= {"Medical":1, "Life Sciences":2, "Other":3,"Marketing":4,"Technical Degree":5,"Human Resources":6}
df.EducationField= [edu[item] for item in df.EducationField]
job= {"Sales Executive":1, "Research Scientist":2, "Laboratory Technician":3,"Manufactoring Director":4,"Healthcare Representative":5,"Manager":6, "Sales Representative":7,"Research Director":8,"Manufacturing Director":9,"Human Resources":10}
df.JobRole= [job[item] for item in df.JobRole]
over = {"Yes":1, "No":2}
df.OverTime= [over[item] for item in df.OverTime]
df

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobInvolvement,JobLevel,JobRole,...,MonthlyRate,OverTime,PercentSalaryHike,PerformanceRating,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,1,1,1,2,2,2,3,2,1,...,19479,1,11,3,8,6,4,0,5,Yes
1,49,2,2,8,1,2,1,2,2,2,...,24907,2,23,4,10,10,7,1,7,No
2,37,1,2,2,2,3,1,2,1,3,...,2396,1,15,3,7,0,0,0,0,Yes
3,33,2,2,3,4,2,2,3,1,2,...,23159,1,11,3,8,8,7,3,0,No
4,27,1,2,2,1,1,1,3,1,3,...,16632,2,12,3,6,2,2,2,2,No
5,32,2,2,2,2,2,1,3,1,3,...,11864,2,13,3,8,7,7,3,6,No
6,59,1,2,3,3,1,2,4,1,3,...,9964,1,20,4,12,1,0,0,0,No
7,30,1,2,24,1,2,1,3,1,3,...,13335,2,22,4,1,1,0,0,0,No
8,38,2,2,23,3,2,1,2,3,9,...,8787,2,21,4,10,9,7,1,8,No
9,36,1,2,27,3,1,1,3,2,5,...,16577,2,13,3,17,7,7,7,7,No
10,35,1,2,16,3,1,1,4,1,3,...,16479,2,13,3,6,5,4,0,3,No
11,29,1,2,15,2,2,2,2,2,3,...,12682,1,12,3,10,9,5,0,8,No
12,31,1,2,26,1,2,1,3,1,2,...,15170,2,17,3,5,5,2,4,3,No
13,34,1,2,19,2,1,1,3,1,3,...,8758,2,11,3,3,2,2,1,2,No
14,28,1,2,24,3,2,1,2,1,3,...,12947,1,14,3,6,4,2,0,3,Yes
15,29,1,2,21,4,2,2,4,3,9,...,10195,2,11,3,10,10,9,8,8,No
16,32,1,2,5,2,2,1,4,1,2,...,15053,1,12,3,7,6,2,0,5,No
17,22,3,2,16,2,1,1,4,1,3,...,7324,1,13,3,1,1,0,0,0,No
18,53,1,1,2,4,2,2,2,4,6,...,22021,2,16,3,31,25,8,3,7,No
19,38,1,2,2,3,2,1,3,1,2,...,4306,1,11,3,6,3,2,1,2,No
20,24,3,2,11,2,3,2,4,2,9,...,8232,2,18,3,5,4,2,1,3,No
21,36,1,1,9,4,2,1,2,1,7,...,6986,2,23,4,10,5,3,0,3,Yes
22,34,1,2,7,4,2,2,3,3,8,...,21293,2,11,3,13,12,6,2,11,No
23,21,1,2,15,2,2,1,3,1,2,...,19281,2,14,3,0,0,0,0,0,No
24,34,1,2,6,1,1,1,3,1,2,...,17102,2,11,3,8,4,2,1,3,Yes
25,53,1,2,5,3,3,2,3,5,6,...,10735,2,11,3,26,14,13,4,8,No
26,32,2,2,16,1,2,2,1,1,2,...,4681,1,22,4,10,10,2,6,7,Yes
27,42,1,1,8,4,4,1,3,2,1,...,21173,2,11,3,10,9,7,4,2,No
28,44,1,2,7,4,1,2,2,3,5,...,2094,2,14,3,24,22,6,5,17,No
29,46,1,1,2,4,4,2,3,5,6,...,22822,2,12,3,22,2,2,2,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,2,2,4,2,2,2,3,2,9,...,9192,2,13,3,18,4,2,0,2,No
1441,56,3,2,1,4,2,1,3,2,5,...,26236,2,21,4,13,13,12,1,9,No
1442,29,1,2,1,4,1,1,3,1,2,...,26124,1,14,3,4,2,2,2,2,Yes
1443,42,1,2,2,3,2,1,3,5,6,...,17312,2,11,3,24,22,6,4,14,No
1444,56,1,2,7,2,5,1,3,1,3,...,3666,2,11,3,14,10,9,9,8,Yes
1445,41,1,2,28,4,2,2,2,4,9,...,5640,2,23,4,21,20,7,0,10,No
1446,34,1,1,28,3,4,2,2,2,1,...,8978,2,21,4,8,8,7,1,7,No
1447,36,3,1,15,4,4,1,1,2,1,...,10436,2,24,4,15,15,12,11,11,No
1448,41,1,1,3,3,2,1,2,2,1,...,12227,2,11,3,14,5,4,0,4,No
1449,32,1,2,2,3,5,1,3,1,2,...,11288,2,14,3,4,4,2,1,2,No
1450,35,1,3,26,4,2,2,3,3,10,...,16642,1,16,3,9,9,0,1,7,No
1451,38,1,1,10,2,2,2,3,2,1,...,5982,2,11,3,10,10,7,1,9,No
1452,50,2,1,1,4,2,1,3,2,1,...,14255,2,12,3,12,6,3,0,1,Yes
1453,36,1,1,11,4,4,2,2,2,1,...,14369,2,13,3,8,6,3,0,0,No
1454,45,1,1,20,3,2,2,3,2,1,...,23333,2,15,3,8,5,3,0,1,No
1455,40,1,2,2,4,2,1,2,1,2,...,2725,2,14,3,8,2,2,2,2,No
1456,35,2,2,18,4,2,1,3,2,5,...,24594,1,14,3,10,10,2,0,2,No
1457,40,1,2,2,4,1,2,3,1,2,...,12549,2,14,3,20,5,3,0,2,No
1458,35,1,2,1,4,2,2,1,1,2,...,8952,2,12,3,4,4,3,1,1,No
1459,29,1,2,13,2,3,1,2,2,3,...,23679,1,13,3,10,4,3,0,3,No
1460,29,1,2,28,4,1,2,2,1,2,...,8489,2,14,3,5,5,4,0,4,No
1461,50,1,1,28,3,4,1,2,3,1,...,16586,1,13,3,20,3,2,2,0,Yes
1462,39,1,1,24,1,4,2,2,4,1,...,8828,2,11,3,21,20,9,9,6,No
1463,31,3,2,5,3,1,1,3,2,9,...,3787,2,19,3,10,9,4,1,7,No
1464,26,1,1,5,3,3,2,2,1,7,...,21378,2,18,3,5,4,2,0,0,No
1465,36,2,2,23,2,1,1,4,2,3,...,12290,2,17,3,17,5,2,0,3,No
1466,39,1,2,6,1,1,1,2,3,5,...,21457,2,15,3,9,7,7,1,7,No
1467,27,1,2,4,3,2,1,4,2,9,...,5174,1,20,4,6,6,2,0,3,No
1468,49,2,1,2,3,1,1,2,2,1,...,13243,2,14,3,17,9,6,0,8,No
1469,34,1,2,8,3,1,1,4,2,3,...,10228,2,12,3,6,4,3,1,2,No

In [15]:
x=df.iloc[:,:-1].values
y=df.iloc[:,21].values

In [16]:
from sklearn.model_selection import train_test_split

In [57]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=101)

In [58]:
from sklearn.svm import SVC

In [59]:
model = SVC()

In [60]:
model.fit(x_train,y_train)

C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [61]:
predictions = model.predict(x_test)
predictions

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No'], dtype=object)

In [62]:
from sklearn.metrics import classification_report,confusion_matrix

In [63]:
print(confusion_matrix(y_test,predictions))

[[371   0]
 [ 70   0]]

In [64]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          No       0.84      1.00      0.91       371
         Yes       0.00      0.00      0.00        70

   micro avg       0.84      0.84      0.84       441
   macro avg       0.42      0.50      0.46       441
weighted avg       0.71      0.84      0.77       441

C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [65]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions)*100)

84.12698412698413

# GRID

In [66]:
param_grid = {'C': [0.1,1, 10, 100, 1000], 'gamma': [1,0.1,0.01,0.001,0.0001], 'kernel': ['rbf']}

In [67]:
from sklearn.model_selection import GridSearchCV

In [68]:
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=3)

In [69]:
grid.fit(x_train,y_train)

C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s

Fitting 3 folds for each of 25 candidates, totalling 75 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV]  C=0.1, gamma=1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s

[CV]  C=0.1, gamma=0.1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV]  C=0.1, gamma=0.1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=0.1, gamma=0.1, kernel=rbf ....................................
[CV]  C=0.1, gamma=0.1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV]  C=0.1, gamma=0.01, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV]  C=0.1, gamma=0.01, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=0.1, gamma=0.01, kernel=rbf ...................................
[CV]  C=0.1, gamma=0.01, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV]  C=0.1, gamma=0.001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV]  C=0.1, gamma=0.001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=0.1, gamma=0.001, kernel=rbf ..................................
[CV]  C=0.1, gamma=0.001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV]  C=0.1, gamma=0.0001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV]  C=0.1, gamma=0.0001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=0.1, gamma=0.0001, kernel=rbf .................................
[CV]  C=0.1, gamma=0.0001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1, gamma=1, kernel=rbf ........................................
[CV]  C=1, gamma=1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1, gamma=0.1, kernel=rbf ......................................
[CV]  C=1, gamma=0.1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV]  C=1, gamma=0.01, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV]  C=1, gamma=0.01, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1, gamma=0.01, kernel=rbf .....................................
[CV]  C=1, gamma=0.01, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV]  C=1, gamma=0.001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV]  C=1, gamma=0.001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1, gamma=0.001, kernel=rbf ....................................
[CV]  C=1, gamma=0.001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV]  C=1, gamma=0.0001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV]  C=1, gamma=0.0001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1, gamma=0.0001, kernel=rbf ...................................
[CV]  C=1, gamma=0.0001, kernel=rbf, score=0.8362573099415205, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=10, gamma=1, kernel=rbf .......................................
[CV]  C=10, gamma=1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=10, gamma=0.1, kernel=rbf .....................................
[CV]  C=10, gamma=0.1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=10, gamma=0.01, kernel=rbf ....................................
[CV]  C=10, gamma=0.01, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV]  C=10, gamma=0.001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV]  C=10, gamma=0.001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=10, gamma=0.001, kernel=rbf ...................................
[CV]  C=10, gamma=0.001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV]  C=10, gamma=0.0001, kernel=rbf, score=0.8343023255813954, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV]  C=10, gamma=0.0001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=10, gamma=0.0001, kernel=rbf ..................................
[CV]  C=10, gamma=0.0001, kernel=rbf, score=0.8304093567251462, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=100, gamma=1, kernel=rbf ......................................
[CV]  C=100, gamma=1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=100, gamma=0.1, kernel=rbf ....................................
[CV]  C=100, gamma=0.1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=100, gamma=0.01, kernel=rbf ...................................
[CV]  C=100, gamma=0.01, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=100, gamma=0.001, kernel=rbf ..................................
[CV]  C=100, gamma=0.001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV]  C=100, gamma=0.0001, kernel=rbf, score=0.8343023255813954, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................
[CV]  C=100, gamma=0.0001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=100, gamma=0.0001, kernel=rbf .................................

[CV]  C=100, gamma=0.0001, kernel=rbf, score=0.8304093567251462, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1000, gamma=1, kernel=rbf .....................................
[CV]  C=1000, gamma=1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1000, gamma=0.1, kernel=rbf ...................................
[CV]  C=1000, gamma=0.1, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1000, gamma=0.01, kernel=rbf ..................................
[CV]  C=1000, gamma=0.01, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.8372093023255814, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1000, gamma=0.001, kernel=rbf .................................
[CV]  C=1000, gamma=0.001, kernel=rbf, score=0.8391812865497076, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.8343023255813954, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.8367346938775511, total=   0.0s
[CV] C=1000, gamma=0.0001, kernel=rbf ................................
[CV]  C=1000, gamma=0.0001, kernel=rbf, score=0.8304093567251462, total=   0.0s

[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:   13.7s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': [0.1, 1, 10, 100, 1000], 'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 'kernel': ['rbf']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [70]:
grid.best_params_

{'C': 0.1, 'gamma': 1, 'kernel': 'rbf'}

In [71]:
grid.best_estimator_

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [72]:
grid_predictions = grid.predict(x_test)

In [73]:
print(confusion_matrix(y_test,grid_predictions))

[[371   0]
 [ 70   0]]

In [74]:
print(classification_report(y_test,grid_predictions))

              precision    recall  f1-score   support

          No       0.84      1.00      0.91       371
         Yes       0.00      0.00      0.00        70

   micro avg       0.84      0.84      0.84       441
   macro avg       0.42      0.50      0.46       441
weighted avg       0.71      0.84      0.77       441

C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\ABC\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [75]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions)*100)

84.12698412698413